include .editorconfig
include .gitignore
include AUTHORS
include build.py
include INSTALL
include LICENSE
include LICENSE.python
include MANIFEST.in
include README.md
include requirements.txt
include setup.cfg
include setup.py
include TASK.md
graft bin
graft docs
graft interview_math_parser
graft scripts
graft tests
global-exclude __pycache__
global-exclude *.py[co]
